.formContainer{
    position: fixed;
    min-height: 25vh; 
    min-width: 40vh;
    background: rgba(255,255,255,0.7);
    text-align: center;
    /* Code below Centers the form on the screen */
    top: 50%;
    left: 50%;
    margin-top: -12.5vh;
    margin-left: -20vh;
}

.loginForm{
    min-height: 25vh;
    display: flex;
    flex-flow: column nowrap;
}

.loginForm > .entryField{
    flex: 0 1 40%;
}

.loginForm > .submitButton{
    flex: 0 1 10%;
    margin: auto 0;
}